canvas{
  display: block;
  height: 300px !important;
  width: 595px !important;

}
.line-chart-header{
  text-align: initial;
  font-size: 18px;
  color: gray;

}
.line-chart-controllers{
  color: gray;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  canvas{
    width: 340px !important;
  }
}
