.card{
  border: 1px solid whitesmoke;
  padding: 0px 0px 0px 0px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #888888;
}
.users-card {

}
.user-value{
  font-size: 51px;
  font-weight: bold;
  top: 25%;
  text-align: end;
}
.icon{
  font-size: 45px;
}
.each-object-key{
  color: gray;
}

.mat-progress-bar-buffer {
  background-color: #90caf9 !important; 
}
.mat-progress-bar-fill::after {
  background-color: red !important;
}
@media only screen and (max-width: 600px) {
  .user-value{
    top: -50%;
  }
}
@media only screen and (max-width: 768px)  {
 .col-md-3{
   max-width: initial !important;
   flex: auto !important;
 }
}

@media only screen and (max-width: 1024px)  {
  .col-md-3{
    max-width: initial !important;
    flex: auto !important;
  }
}
